@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* rooting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* colors */
.blue-color {
  color: #1a2597;
}

.red-color {
  color: #d3201a;
}

/* general */
body {
  height: 100vh;
  background-color: #202124;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* aligns/displays */
.t-left {
  text-align: left;
}

.d-flex {
  display: flex;
  gap: 40px;
}

.hidden {
  display: none;
}

/* nrjs */
.nrj {
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center center !important;
  background: url("assets/nrj-normal.jpg");
}
.nrj.nrj-feu {
  background: url("assets/nrj-feu.jpg");
}
.nrj.nrj-eau {
  background: url("assets/nrj-eau.jpg");
}
.nrj.nrj-plante {
  background: url("assets/nrj-plante.png");
}
.pokemon-card .nrj {
  margin-top: 4px;
  margin-left: 4px;
}

/* pokemon card */
.pokemon-card {
  border: 17px solid #e9cc48;
  position: relative;
  padding: 5px 15px 44px;
}
.pokemon-card.type-feu {
  background: linear-gradient(90deg, #c0615b 0%, #d2d8f1 11%, #c0615b 23%, #d2d8f1 39%, #c0615b 56%, #d2d8f1 80%, #c0615b 100%);
}
.pokemon-card.type-eau {
  background: linear-gradient(90deg, #19a3c8 0%, #d2d8f1 11%, #19a3c8 23%, #d2d8f1 39%, #19a3c8 56%, #d2d8f1 80%, #19a3c8 100%);
}
.pokemon-card.type-plante {
  background: linear-gradient(90deg, #70b37b 0%, #d2d8f1 11%, #70b37b 23%, #d2d8f1 39%, #70b37b 56%, #d2d8f1 80%, #70b37b 100%);
}
.pokemon-card h1 {
  font-size: 21px;
  font-weight: 700;
}
.pokemon-card h1 b {
  font-size: 10px;
  display: block;
  line-height: 0px;
  margin-top: 8px;
}
.pokemon-card h1 span {
  float: right;
  color: #d3201a;
}
.pokemon-card figure .pokemon-image {
  width: 100%;
  border: solid 6px #9d8938;
  height: 210px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 6px;
}
.pokemon-card figure figcaption {
  font-size: 12px;
  width: calc(100% - 20px);
  margin: 0 auto;
  background: #9d8938;
  background: linear-gradient(90deg, #9d8938 0%, #e4e0b8 47%, #9d8938 100%);
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
.pokemon-card .attack-block {
  margin-top: 5px;
}
.pokemon-card .attack-block .attack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}
.pokemon-card .attack-block .attack h2 {
  line-height: 14px;
  font-size: 17px;
  padding: 0 10px;
}
.pokemon-card .attack-block .attack h2 p {
  display: inline;
  font-size: 9px;
  line-height: 9px;
}
.pokemon-card .attack-block .attack h2 p .nrj {
  display: inline-block;
  float: none;
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
}
.pokemon-card .attack-block .attack span {
  font-size: 26px;
  font-weight: bold;
}
.pokemon-card .attack-block .attack-only h2 {
  text-align: center;
}
.pokemon-card .attack-block .attack-1 {
  height: 64px;
}
.pokemon-card .attack-block .attack-1 .talent {
  font-size: 9px;
  line-height: 12px;
}
.pokemon-card .attack-block .attack-1 .talent b {
  font-size: 11px;
}
.pokemon-card .attack-block .attack-1 .talent .nrj {
  width: 12px;
  height: 12px;
  float: none;
  display: inline-block;
}
.pokemon-card .attack-block .attack-2 {
  height: 68px;
}
.pokemon-card .attack-block .nrj-block {
  float: left;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemon-card .attack-block .nrj-block i {
  margin: 0 2px;
}
.pokemon-card span {
  float: right;
}
.pokemon-card .stats-block {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}
.pokemon-card .stats-block h3 {
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}
.pokemon-card .stats-block h3 i {
  margin: 0 auto;
  float: none;
}
.pokemon-card .stats-block h3 div i {
  display: inline-block;
}
.pokemon-card .infos-block {
  font-size: 10px;
  font-weight: 700;
  border: 1px solid #9d8938;
  text-align: center;
  padding: 1px 0;
  width: calc(100% - 12px);
  margin: 5px auto 0;
  font-style: italic;
  position: absolute;
  bottom: 5px;
  left: 6px;
}

/* buttons */
.switch-starter {
  margin: 30px auto 0;
  background-color: #202124;
  border: 2px solid #e9cc48;
  padding: 10px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.switch-starter:hover {
  background-color: #e9cc48;
}
.switch-starter:hover, .switch-starter {
  transition: all 0.3s;
}

@keyframes pokeball-hover {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 5deg;
  }
  50% {
    rotate: -5deg;
  }
  75% {
    rotate: 5deg;
  }
  100% {
    rotate: 0deg;
  }
}
.pokeball-container {
  position: relative;
}
.pokeball-container .overlay {
  position: absolute;
  display: block;
  width: 88px;
  height: 100px;
  background-image: url("assets/salameche.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  top: -150px;
  left: calc(50% - 44px);
}
.pokeball-container .pokeball {
  display: block;
  background: url("assets/pokeball.png") no-repeat center center;
  background-size: cover;
  width: 282px;
  height: 282px;
  border-radius: 50%;
  cursor: pointer;
}
.pokeball-container .pokeball, .pokeball-container .pokeball:hover {
  transition: all 0.3s;
}
.pokeball-container .pokeball.big-pokeball:hover {
  animation: pokeball-hover 0.5s ease-in;
}
.pokeball-container .pokeball.tiny-pokeball {
  transform: scale(0.75) translateY(250px);
}

/* carousel */
.carousel-container {
  height: 50vh;
  width: 50vw;
}/*# sourceMappingURL=App.css.map */